<html>
  <head></head>
  <body>
    <mat-toolbar fxLayout="row">
        <div fxFlex="60">
            <span>Waymo Data Visualization</span>
        </div>
        <div fxFlex="grow">
        </div>
        <div fxFlex="20">
          <a href="https://github.com/olala7846/car_data_visualization">
            <span>author: hcchao@</span>
          </a>
        </div>
    </mat-toolbar>
    <div class="view-container" fxLayout="row" fxFill>
      <!-- <app-main-view fxFlex="70"></app-main-view> -->
      <div fxFlex="70"></div>
      <app-support-view fxFlex="30"></app-support-view>
    </div>
  </body>
</html>
