<mat-card>
  <mat-card-content>
    <h2>Helper</h2>
    <section>
      <mat-checkbox
          [checked]="worldService.enableAxesHelper"
          (change)="worldService.setEnableAxesHelper($event.checked)">
        Axes Helper (+x: red, +y: green, +z: blue)
      </mat-checkbox>
      <mat-checkbox
          [checked]="worldService.enableGroundHelper"
          (change)="worldService.setEnableGroundHelper($event.checked)">
        Ground Helper (Wire Frame)
      </mat-checkbox>
    </section>

    <h2>Label</h2>
    <section>
      <mat-checkbox *ngFor="let labelType of labelTypes"
        [checked]="worldService.labelEnabledMap.get(labelType)"
        (change)="worldService.setLabelEnabled(labelType, $event.checked)">
        {{labelType}}
      </mat-checkbox>
    </section>

    <h2>Lidar Data</h2>
    <section>
      <mat-checkbox *ngFor="let lidarName of lidarNames"
        [checked]="worldService.lidarEnabledMap.get(lidarName)"
        (change)="worldService.setLidarEnabled(lidarName, $event.checked)">
        {{lidarName}}
      </mat-checkbox>
    </section>

    <h2>Camera</h2>
    <section>
      <mat-label>Choose a camera</mat-label>
      <mat-select>
        <mat-option *ngFor="let camera of cameraNames" [value]="camera">{{camera}}</mat-option>
      </mat-select>
    </section>

  </mat-card-content>
</mat-card>
