<mat-card>
  <mat-card-content>
    <h2>Helper</h2>
    <section>
      <mat-checkbox
          [checked]="worldService.enableAxesHelper"
          (change)="worldService.setEnableAxesHelper($event.checked)">
          AxesHelper (+x: red, +y: green, +z: blue)
        </mat-checkbox>
      <!-- TODO: Enalbe ground wire frame -->
      <!-- <mat-checkbox>Ground (Wire Frame)</mat-checkbox> -->
    </section>

    <h2>Label</h2>
    <section>
      <mat-checkbox>Bicycle</mat-checkbox>
      <mat-checkbox>Car</mat-checkbox>
      <mat-checkbox>Human</mat-checkbox>
      <mat-checkbox>Sign</mat-checkbox>
    </section>

    <h2>Lidar Data</h2>
    <section>
      <mat-checkbox *ngFor="let lidarName of lidarNames"
        [checked]="worldService.lidarEnabledMap.get(lidarName)"
        (change)="worldService.setLidarEnabled(lidarName, $event.checked)">
        {{lidarName}}</mat-checkbox>
    </section>

    <h2>Camera</h2>
    <section>
      <mat-label>Choose a camera</mat-label>
      <mat-select>
        <mat-option *ngFor="let camera of cameraNames" [value]="camera">{{camera}}</mat-option>
      </mat-select>
    </section>

  </mat-card-content>
</mat-card>
